body {
    font-family: monospace;
    background-color: #181a1b;
    color: #ccc;
    font-size: 20px;
}

h1 {
    color: #fff;
    font-weight: 400;
    font-size: 44px;
}

a {
    color: #2060ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
