body {
  font-family: monospace;
  margin: 20px;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  background-color: #181a1b;
  color: #ccc;
  font-size: 20px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 44px;
}

ul {
  margin: 2px 0;
}

.fav {
  margin-top: 30px;
  display: flex;
  flex-direction: column; 
}

.links {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: flex;
  gap: 20px;
}

.links a, .fav a {
  color: #2060ff;
}

.links a:hover, .fav a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
  max-width: 400px;
}

