body {
  font-family: monospace;
  background-color: #000;
  color: #ccc;
  font-size: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-left: 130px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 45px;
  margin: 0 0 10px 0;
}

.fav {
  margin-top: 30px;
  display: flex;
  flex-direction: column; 
  gap: 8px;
}

.links {
  position: fixed;
  bottom: 30px;
  left: 130px;
  display: flex;
  gap: 20px;
}

.links a, .fav a {
  color: #0040ff;
}

.links a:hover, .fav a:hover {
  color: #999;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

p {
  margin: 5px 0;
}

